* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  
     /* ✅ forces scroll when content is bigger */
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  overflow-x: hidden;
  overflow: auto;
}
